#
# Battery Control Configuration
#

menu "SHARP Battery Driver"

comment "Battery Control Configuration"

config PM_APQ_THERM
	bool "APQ_THERM support"
	default n

config PM_WIRELESS_CHARGE
	bool "SHARP Wireless Charger support"
	default n

config PM_SUPPORT_BATT_AUTH
	bool "SHARP Battery Authentication support"
	default n

config PM_WIRELESS_CHARGE_IC_ACCESS_I2C
	bool "SHARP Wireless Charger IC access by I2C"
	default n
	depends on PM_WIRELESS_CHARGE

#config PM_SHBATT_WAKE_CTL_ENABLE
#	bool "SHBATT_WAKE_CTL ENABLE in notify_charger_cable_status"
#	default n

config PM_CPU_CLOCK_LEVEL_TYPE
	int "CPU clock level type"
	range 0 9
	default 0

config PM_ICHG_POWER_ENABLE
	bool "ICHG power enable"
	default n

config PM_MSM_XO_VOTE_ENABLE
	bool "MSM_XO_VOTE enable"
	default n

config PM_SUPPORT_BIF
	bool "SHARP BIF support"
	default n

endmenu
