#
# audio device configuration
#
# CONFIG_SH_AUDIO_DRIVER newly created

menu "SHARP audio driver"

comment "SHARP audio drivers"

#/*SH_AUDIO_DRIVER->*//*05-010*/
config SH_AUDIO_DRIVER_MODEL_NUMBER
        int "SH_AUDIO_DRIVER_MODEL_NUMBER"
        range 0 999
        default "0"
#/*SH_AUDIO_DRIVER<-*//*05-010*/

config SH_AUDIO_DRIVER
	tristate "SHARP Audio Driver customized"
	default y

config SHSPAMP_YDA168B
	tristate "SHARP spamp yda168b"
	default n

endmenu
