#
# MMC subsystem configuration
#

menuconfig MMC
	tristate "MMC/SD/SDIO card support"
	depends on HAS_IOMEM
	help
	  This selects MultiMediaCard, Secure Digital and Secure
	  Digital I/O support.

	  If you want MMC/SD/SDIO support, you should say Y here and
	  also to your specific host controller driver.

config MMC_DEBUG
	bool "MMC debugging"
	depends on MMC != n
	help
	  This is an option for use by developers; most people should
	  say N here.  This enables MMC core and driver debugging.

config MMC_PERF_PROFILING
	bool "MMC performance profiling"
	depends on MMC != n
	default n
	help
	  If you say Y here, support will be added for collecting
	  performance numbers at the MMC Queue and Host layers.

config MMC_CUST_SH
	bool "SHARP MMC driver customized"
	default n

config MMC_EMMC_CUST_SH
	bool "SHARP eMMC driver customized"
	depends on MMC && MMC_CUST_SH
	default n

config ERR_RETRY_EMMC_CUST_SH
	bool "SHARP MMC error retry customized"
	depends on MMC_EMMC_CUST_SH
	default n

config ERR_DETECT_EMMC_CUST_SH
	bool "SHARP MMC error detect customized"
	depends on MMC_EMMC_CUST_SH
	default n

config RW_PROTECT_EMMC_CUST_SH
	bool "SHARP MMC read/write protect customized"
	depends on MMC_EMMC_CUST_SH
	default n

config ACCESS_OPTIMIZE_EMMC_CUST_SH
	bool "SHARP MMC access optimization customized"
	depends on MMC_EMMC_CUST_SH
	default n

config TIMEOUTCTRL_EMMC_CUST_SH
	bool "SHARP MMC timeout control customized"
	depends on MMC_EMMC_CUST_SH
	default n

config HS200_TUNING_EMMC_CUST_SH
	bool "SHARP MMC HS200 tuning customized"
	depends on MMC_EMMC_CUST_SH
	default n

config MMC_SD_CUST_SH
	bool "SHARP SD operation customized"
	depends on MMC && MMC_CUST_SH
	default n

config MMC_SD_BATTLOG_CUST_SH
	bool "SHARP SD and logging customized"
	depends on MMC_SD_CUST_SH
	default n

config MMC_SD_ECO_MODE_CUST_SH
	bool "SHARP SD eco mode customized"
	depends on MMC_SD_CUST_SH
	default n

config MMC_SD_PENDING_RESUME_CUST_SH
	bool "SHARP SD pending resume customized"
	depends on MMC_SD_CUST_SH
	default n

config MMC_SDIO_CUST_SH
	bool "SHARP SDIO driver customized"
	depends on MMC && MMC_CUST_SH
	default n

config PM_EMMC_CUST_SH
	bool "SHARP MMC power management customized"
	depends on MMC_EMMC_CUST_SH
	default n

config DISCARD_EMMC_CUST_SH
	bool "SHARP MMC discard customized"
	depends on MMC_EMMC_CUST_SH
	default n

config USE_QOS_WITH_TIMEOUT_MMC_CUST_SH
	bool "SHARP MMC use qos with timeout customized"
	depends on MMC && MMC_CUST_SH
	default n

config RESET_CLK_SCALING_PARAM_MMC_CUST_SH
	bool "SHARP reset parameters of clk scaling customized"
	depends on MMC && MMC_CUST_SH
	default n

if MMC

source "drivers/mmc/core/Kconfig"

source "drivers/mmc/card/Kconfig"

source "drivers/mmc/host/Kconfig"

endif # MMC
